<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/layout.css" />
	<link rel="stylesheet" href="{$basePath}/css/home.css" />
	<link rel="stylesheet" href="{$basePath}/css/cart.css" />
	<link rel="stylesheet" href="{$basePath}/css/delivery.css" />
	<link rel="stylesheet" href="{$basePath}/css/payment.css" />
	<link rel="stylesheet" href="{$basePath}/css/login.css" />

	<title>{ifset title}{include title|stripHtml} | {/ifset}BookStore</title>
</head>

<body>

	<header>
		<a n:href="Home:" class="logo">BookStore</a>
		<ul>
			{if $user->isLoggedIn()}
			<a n:href="Login:out"><li>Odhlášení</li></a>
			{else}
			<a n:href="Login:"><li>Přihlášení</li></a>
			{/if}
			<a n:href="Cart:"><li>Košík</li></a>
		</ul>
	</header>
	<main>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
	{/block}
	</main>
	<footer>
		<p>MirSikora &copy; 2024. Vytvořeno za pomoci Nette Framework.</p>
	</footer>
</body>
</html>
