{block content}
<section class="loginSection">
    <h1>Přihlášení</h1>

    <form n:name=loginForm class="loginForm">
        <input type="text" n:name=nickname >
        <input type="password" n:name=password >	
        <input type="submit" n:name=send >
    </form>
    <p>Pokud ještě nemáte účet, můžete se</p>
    <a n:href="Registration:"><h3>zaregistrovat.</h3></a>
</section>
