
.deliveryForm{
    width: 70%;
}
.wrap2{
    width: 100%;
    border: 2px solid rgb(49, 49, 74);
   border-radius: 15px;
   margin-top: -2px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.wrap2 input{
    width: 60%;    
}
.deliveryForm [type=number]::-webkit-inner-spin-button {
    display: none;
}
.second{
    width: inherit;
    width: 100%;
}
.GDPR{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}
.GDPR input{
    width: inherit;
}
