.allBooks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 10px;
    gap: 10px;
}
.oneBook{
    background-color: rgb(225, 231, 142);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    max-width: 580px;
    box-shadow: 5px 5px 5px;
}
.oneBook img{
    width: 180px;
    border-radius: 10px 0 0 10px;
}
.oneBookDetails{    
    max-width: 400px;    
    padding: 10px;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;    
}
.bookTop{
    display: flex;    
    flex-direction: column;
    gap: 10px;
}
.bookBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cartContent{
    position: fixed;
    top: 39px;
    right: 8px;
    min-width: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    z-index: 100;
}
.cart-info{
    font-size: 8px;
    font-weight: 600;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 25px;
    padding: 4px;
}
.description{
    margin-bottom: 10px;
}
#PiecesToCart{
    width: 45px;
    margin-right: 10px;
    border: 1px solid rgb(49, 49, 74);
    border-radius: 10px;
}
#PiecesToCart::-webkit-inner-spin-button {
    opacity: 1;    
}
.bookToCart input[type=submit]{
    margin: inherit;
}
@media (max-width: 480px) {
    .oneBook{
        flex-direction: column;
    }
    .oneBook img{
        width: 220px;
        border-radius: 10px 0 0 0;
    }
}
