* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;  
}
input[type=text],
input[type=password],
input[type=email],
input[type=number]{
    background-color: transparent;    
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(49, 49, 74);
    padding: 5px 5px;
    font-size: 14px;
}
input::placeholder{
    color:rgb(201, 200, 200);
}
input[type=submit]{
  outline: none;
  border: none;
  cursor: pointer;
  min-width: 100px;
  padding: 5px 10px;
  margin: 20px auto;
  background-color: rgb(49, 49, 74);
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
}
header {  
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(35, 35, 41);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #80d0c7;
  font-size: 20px;
  padding: 0 10px; 
  z-index: 1; 
}
.logo {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 30px;
}
header ul {  
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;

}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(35, 35, 41);
  color: #80d0c7;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
}
main {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);  
  min-height: 100vh;
  padding: 50px 0;
}
.flash{
  background-color: rgb(199, 199, 10);
  text-align: center;  
  font-size: 16px;  
  padding: 5px 0;
}
