* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
}
a {
  text-decoration: none;
  color: inherit;  
}
input[type=text],
input[type=password],
input[type=email],
input[type=number]{
    background-color: transparent;    
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(49, 49, 74);
    padding: 5px 5px;
    font-size: 14px;
}
input::placeholder{
    color:white;
}
input[type=submit]{
  outline: none;
  border: none;
  cursor: pointer;
  min-width: 100px;
  padding: 5px 10px;
  margin: 20px auto;
  background-color: rgb(49, 49, 74);
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  font-family: inherit;
  font-family: 'Times New Roman', Times, serif;
}
header {  
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(35, 35, 41);
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(225, 231, 142);
  font-size: 20px;
  padding: 0 10px; 
  z-index: 1; 
}
.logo {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 30px;
}
header ul {  
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;

}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  background-color: rgb(35, 35, 41);  
  color: rgb(225, 231, 142);
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
}
main {
  background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
  min-height: 100vh;
  padding: 50px 0;
}
.flash{
  background-color: rgb(199, 199, 10);
  text-align: center;  
  font-size: 16px;  
  padding: 7px 0;
}
@media (max-width: 480px) {
  footer{
    position: inherit;
    position: relative;
  }  
}
