.loginSection{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.loginSection h1{
    font-size: 25px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loginForm [type=number]::-webkit-inner-spin-button {
    display: none;
}